/dumps/
/downloads/
/tmp/
/temp/
/logs/
/*.log
/*.tmp
/*.temp
/node_modules/
/coverage/
/dist/
/build/
/.cache/
/.idea/
/.vscode/
/.DS_Store
/Thumbs.db
/.env
/.env.*
/steamcmd/logs/
/steamcmd/appcache/
/steamcmd/config/
/steamcmd/depotcache/
/steamcmd/package/
/steamcmd/steamapps/
/steamcmd/userdata/
/steamcmd/update_hosts_cached.vdf
/steamcmd/libraryfolder.vdf
/steamcmd/.ntfs_transaction_failed
/steamcmd/.crash
/steamcmd/*.old
/steamcmd/*.zip
